.log-in {
    .log-in__form {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 110px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;

        .log-in__err {
            position: absolute;
            color: red;
            font-size: 25px;
            bottom: -50px;
        }
    }

        img {
            position: absolute;
            height: 100vh;
            right: 0;
            top: 0;
        }
}