.sensors-bar {
    position: fixed;
    width: 240px;
    height: 100vh;
    background-color: #F2F2F2;
    top: 0;
    left: 302px; 
    text-align: center;

    .sensors-bar__add {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 26px;
        height: 40px;
        cursor: pointer;
        transition: .2s;

        &:hover {
            background-color: #1060ff;
        }
    }

    .sensors-bar__content {
        
        .sensor {
            margin: 25px;
        }
    }
}